# OS X
.DS_Store

# Haskell
*.o
*.hi
cabal.project.local
cabal.sandbox.config
dist
dist-newstyle

# Certificates
*_cert.pvs
num_cert.pvs
*_real.*
*.tccs
.pvscontext
pvsbin
*.summary-tc

# Temporary files
temp.*
*~

# CMake
build

# Kodiak
*.dat

# VSCode
.vscode
